@use "variables" as *;

img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 4vw 6vw;
  background-color: #c8e6ff;
}
h1 {
  padding-top: 2vw;
}
a {
  color: $color__link;
  &:hover {
    color: $color__link-hover;
  }
}
.row {
  display: flex;
  justify-content: space-between;

  .col {
    flex-basis: 50%;
  }
}
