img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
  }
.row {
    .secondImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
        
      }
}