@use "sass:color";

$font__main: 'Lora', serif;
$font__heading: 'Montserrat', sans-serif;

$color__blue: #4a75bf;
$color__lightblue: #d3f6ff;
$color__grey: #a2abb0;
$color__white: #ffffff;
$color__block: #000000;

$color__background: #9dd3ff;

$color__link: $color__blue;
$color__link-hover: color.adjust($color__blue, $lightness: 15%);